body {
  background-color: #5c5d8d;
}
header {
  background-color: #6495ed;
  display: flex;
  justify-content: space-evenly;
  min-width: 100%;
  align-items: center;
  padding: 0;
  position: absolute;
  height: 10.455%;
  font-family: "Inter", sans-serif;
}
header .containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
header .PerfilHeader {
  display: flex;
  margin: auto 5%;
  align-items: center;
  gap: 7%;
}

header .PerfilHeader img {
  width: 29.5%;
  object-fit: cover;
  border-radius: 50%;
}
header .PerfilHeader h1 {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 0 2px #000;
}
.btn {
  background-color: #5c5d8d;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.btnLogout {
  height: 75%;
  width: 246%;
  padding: 25%;
  opacity: 0.5;
}
.btnLogout:hover {
  opacity: 1;
}
main {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.containerPublish {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
}
.formControl {
  border: none;
  width: 100%;
  border-radius: 10px;
  
}

.btnPostar {
  height: 40%;
  width: 40%;
  background-color: #000;
  justify-content: flex-end;
  align-items: flex-end;
}

.containerActionsUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 5%;
}
.actionsUser {
    display: flex;
    gap:2%
}
.btnPost{
width: 80%;
height: 80%;
}

.cardPost {
  width: 75%;
  height: 20%;
  border-radius: 20px;
  margin-top: 5%;
  display: flex;
  background-color: #ecf0f1;
}

.picturePost {
  height: 50%;
  width: 50%;
}
